
/*images in top bar*/
.letterhead {
        background-color: #32292F;
        img {
            height: 48px;
        }
    }




/*follow links facebook, twitter etc*/

.png-links {
    display: flex;
    gap: 10px;

    li {
        list-style-type: none;
        img {
            width: 64px;
            height: 64px;
        }
    }
}

/*landing-page photo*/

.portrait {
    width: 100%;
}

