/* Coolors Exported Palette - https://coolors.co/32292f-575366-6e7dab-5762d5-d1e3dd */


/* SCSS HEX */
$nav-bar-black: #32292fff;
$davys-gray: #575366ff;
$glaucous: #6e7dabff;
$savoy-blue: #5762d5ff;
$mint-green: #d1e3ddff;
$color-background: #D8D0C1;
$paragraph-background:#d1c1a3;
$letter-head-color: #141113;
$white-default: aliceblue;

